<%= javascript_include_tag "https://code.highcharts.com/highcharts.js" %>
<%= javascript_include_tag "https://code.highcharts.com/maps/modules/map.js" %>
<%= javascript_include_tag "https://code.highcharts.com/maps/modules/data.js" %>
<%= javascript_include_tag "https://code.highcharts.com/mapdata/countries/us/us-all.js" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" %>

<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" type="text/css" />

<br>
<div id="pizza">
</div>

<div id="map-json-data" style="display:none">
  <%= Tweet.v2.to_json %>
</div>
