<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container">
  <h3 class="t-index-title"><%= @state.name %></h3>
  <p class="t-index-text"><%= @state.description %></p>

  <div class="center">
    <%= pie_chart({
      "Bernie" => @tweet_calculator.bernie_by_state(State.state_hash.invert[@state.name]),
      "Trump"  => @tweet_calculator.trump_by_state(State.state_hash.invert[@state.name])
    }) %>
  </div>
  <br>

  <h5 class="t-index-title">Live Tweets from <%= @state.name %></h5>
  <br>
  <div class="row">
    <div class="t-index-text">
      <% @state.tweets_by_state.each do |tweet| %>
      <div class="col s3">
        <%= tweet.handle %><br>
        <%= tweet.location %><br>
      </div>
      <div class="col s9">
        <%= tweet.message %><br><br>
      </div>
      <% end %>
    </div>
  </div>

</div>
