<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<br>
<div class="container">
  <h3 class="t-index-title"><%= @state.name %></h3>
  <p class="t-index-text"><%= @state.description %></p>
  <h5 class="t-index-title">Live Tweets from <%= @state.name %></h5>
  <div class="t-index-text">
    <% @state.tweets_by_state.each do |tweet| %>
      User: <%= tweet.handle %><br>
      Location: <%= tweet.location %><br>
      Tweet: <%= tweet.message %><br><br>
    <% end %>
  </div>

</div>
